@import 'bootstrap/scss/bootstrap' ;

html, body {
	margin: 0 ;
}

.w-50 {
	width: 80% !important ;
}

.centrify {
	display: flex ;
	align-items: center ;
	flex-direction: column ;
}

.centrify-vertical {
	display: flex ;
	height: 80vh ;
	justify-content: center ;
}

.display-block {
	display: block ;
}

.features {
	ul {
		margin-left: 0;
		padding-left: 15px;
	}
}

.jumbotron {
	text-align: center ;
	color: #fff ;
	background-color: transparent ;
	font-family: 'Helvetica Neue' !important ;
	font-stretch: expanded ;
	padding-top: 5% ;
	padding-bottom: 5% ;
	text-shadow: -2px #2226, 2px #2228 ;
	border-radius: 4px ;
	position: relative ;
}

.jumbotron::after {
	content: '' ;
	background: #f5a no-repeat image-url('bg.webp') center center ;
	background-size: cover ;
	width: 100% ;
	height: 100% ;
	position: absolute ;
	filter: blur(2px) ;
	top: 0 ;
	left: 0 ;
	z-index: -1 ;
}

.no-left-padding {
	padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.text-center {
	width: 100% ;
	display: flex ;
	justify-content: center ;
	align-items: center ;

	& .row {
		text-align: left ;
	}
}

.highlight {
	color: #88f ;
}

.card-img {
	width: 50% ;
	height: 50% ;
	object-fit: cover ;
}

.price-tag {
	font-size: 20px ;
	font-weight: bold ;
}

.price-tag-free {
	background: linear-gradient(45deg, #FED42D, #FF39FF) ;
}

.price-tag-pro {
	background: linear-gradient(45deg, #FFD400, #0EF9f3) ;
}

.price-tag-premium {
	background: linear-gradient(45deg, #0EEAFF, #2FC46E) ;
}

.price-tag-free, .price-tag-pro, .price-tag-premium {
	color: transparent ;
	background-clip: text ;
	font-size: 18px ;
	font-weight: 500 ;
	-webkit-background-clip: text ;
}

.btn-choose-free {
	background: linear-gradient(45deg, #FED42D, #FF39FF, #2FC46E) ;
}

.btn-choose-pro {
	background: linear-gradient(45deg, #FFD400, #0EEAFF, #FF39FF, #FF39FF) ;
}

.btn-choose-premium {
	background: linear-gradient(45deg, #2FC46E, #0EEAFF, #FED42D, #FF39FF) ;
}

.card {
	filter: drop-shadow(2px 2px 4px #0002) ;
	transition: all 0.25s ease ;

	&:hover {
		filter: drop-shadow(4px 4px 4px #0004) ;
	}
}

.btn-choose-free, .btn-choose-pro, .btn-choose-premium {
	background-size: 200% ;
	color: #fff ;
	padding: 4px 8px ;
	border-radius: 4px ;
	transition: all 0.25s ease ;
	filter: drop-shadow(2px 2px 2px #0004) ;

	&:hover {
		background-position: 80% ;
		color: #fff ;
		text-decoration: none ;
		filter: drop-shadow(4px 4px 4px #0006) ;
	}
}
